interfaces {
    ethernet eth1 {
        address 172.16.254.254/30
        description R2
        duplex auto
        hw-id 00:aa:00:20:11:02
        smp_affinity auto
        speed auto
    }
    ethernet eth2 {
        duplex auto
        hw-id 00:aa:00:20:11:10
        smp_affinity auto
        speed auto
    }
    ethernet eth3 {
        address 172.16.254.242/30
        description "Customer 0"
        duplex auto
        hw-id 00:aa:00:20:11:50
        smp_affinity auto
        speed auto
    }
    ethernet eth4 {
        address 10.254.254.250/30
        description Upstreaam
        duplex auto
        hw-id 00:aa:00:20:11:31
        smp_affinity auto
        speed auto
    }
    ethernet eth5 {
        address 172.16.254.250/30
        description "Customer 2"
        duplex auto
        hw-id 00:aa:00:20:11:52
        smp_affinity auto
        speed auto
    }
    ethernet eth6 {
        address 172.16.254.246/30
        description "Customer 1"
        duplex auto
        hw-id 00:aa:00:20:11:51
        smp_affinity auto
        speed auto
    }
    loopback lo {
        address 172.16.0.254/32
    }
}
protocols {
    bgp 65001 {
        neighbor 10.254.254.249 {
            remote-as 65111
            update-source 10.254.254.250
        }
        neighbor 172.16.254.253 {
            remote-as 64900
            update-source 172.16.254.254
        }
        parameters {
            router-id 172.16.0.254
        }
        redistribute {
            connected {
            }
            static {
            }
        }
    }
    static {
        route 172.16.128.0/22 {
            next-hop 172.16.254.242 {
                distance 1
            }
        }
        route 172.16.132.0/23 {
            next-hop 172.16.254.246 {
                distance 1
            }
        }
        route 172.16.134.0/23 {
            next-hop 172.16.254.250 {
                distance 1
            }
        }
    }
}
system {
    host-name ISP-B
    login {
        user vyatta {
            authentication {
                encrypted-password $1$1WtdCQ3x$tEayWu2oe8dwau6SquaBe0
            }
            level admin
        }
    }
    ntp-server 0.vyatta.pool.ntp.org
    package {
        auto-sync 1
        repository supported {
            components main
            distribution stable
            password ""
            url http://packages.vyatta.com/vyatta-supported
            username ""
        }
    }
    syslog {
        global {
            facility all {
                level notice
            }
            facility protocols {
                level debug
            }
        }
    }
    time-zone GMT
}


/* Warning: Do not remove the following line. */
/* === vyatta-config-version: "dhcp-server@4:webgui@1:system@3:quagga@1:cluster@1:ipsec@2:dhcp-relay@1:vrrp@1:webproxy@1:nat@3:wanloadbalance@2:firewall@3" === */
/* Release version: VC6.0-2010.03.22 */
