interfaces {
    ethernet eth1 {
        duplex auto
        hw-id 00:aa:00:20:10:11
        smp_affinity auto
        speed auto
    }
    ethernet eth2 {
        address 10.254.254.254/30
        description Upstream
        duplex auto
        hw-id 00:aa:00:20:10:30
        smp_affinity auto
        speed auto
    }
    ethernet eth3 {
        address 192.168.127.253/30
        description "Customer 0"
        duplex auto
        hw-id 00:aa:00:20:10:40
        smp_affinity auto
        speed auto
    }
    ethernet eth4 {
        address 192.168.127.249/30
        description "Customer 1"
        duplex auto
        hw-id 00:aa:00:20:10:41
        smp_affinity auto
        speed auto
    }
    ethernet eth5 {
        address 192.168.127.245/30
        description R0
        duplex auto
        hw-id 00:aa:00:20:10:00
        smp_affinity auto
        speed auto
    }
    loopback lo {
        address 192.168.127.1/32
    }
}
protocols {
    bgp 65000 {
        neighbor 10.254.254.253 {
            remote-as 65111
            update-source 192.168.127.1
        }
        neighbor 192.168.127.246 {
            remote-as 64900
            update-source 192.168.127.245
        }
        parameters {
            router-id 192.168.127.1
        }
        redistribute {
            connected {
            }
            static {
            }
        }
    }
    static {
        route 192.168.64.0/23 {
            next-hop 192.168.127.253 {
                distance 1
            }
        }
        route 192.168.69.0/24 {
            next-hop 192.168.127.249 {
                distance 1
            }
        }
    }
}
system {
    host-name ISP-A
    login {
        user vyatta {
            authentication {
                encrypted-password $1$1WtdCQ3x$tEayWu2oe8dwau6SquaBe0
            }
            level admin
        }
    }
    ntp-server 0.vyatta.pool.ntp.org
    package {
        auto-sync 1
        repository supported {
            components main
            distribution stable
            password ""
            url http://packages.vyatta.com/vyatta-supported
            username ""
        }
    }
    syslog {
        global {
            facility all {
                level notice
            }
            facility protocols {
                level debug
            }
        }
    }
    time-zone GMT
}


/* Warning: Do not remove the following line. */
/* === vyatta-config-version: "dhcp-server@4:webgui@1:system@3:quagga@1:cluster@1:ipsec@2:dhcp-relay@1:vrrp@1:webproxy@1:nat@3:wanloadbalance@2:firewall@3" === */
/* Release version: VC6.0-2010.03.22 */
