interfaces {
    ethernet eth1 {
        address 10.0.54.81/30
        description "R0 and R2"
        duplex auto
        hw-id 00:aa:00:20:00:02
        smp_affinity auto
        speed auto
    }
    ethernet eth2 {
        address 10.0.54.73/30
        description "R0 and R1"
        duplex auto
        hw-id 00:aa:00:20:00:01
        smp_affinity auto
        speed auto
    }
    ethernet eth3 {
        address 192.168.127.246/30
        description "R0 and ISP-A"
        duplex auto
        hw-id 00:aa:00:20:00:10
        smp_affinity auto
        speed auto
    }
    ethernet eth4 {
        address 10.2.0.1/16
        description "R0 and Host-PC"
        duplex auto
        hw-id 00:aa:00:20:00:a0
        ip {
            enable-proxy-arp
        }
        smp_affinity auto
        speed auto
    }
    loopback lo {
        address 10.0.54.65/32
    }
}
protocols {
    bgp 64900 {
        neighbor 10.0.54.66 {
            remote-as 64900
            update-source 10.0.54.65
        }
        neighbor 10.0.54.67 {
            remote-as 64900
            update-source 10.0.54.65
        }
        neighbor 192.168.127.245 {
            remote-as 65000
            update-source 192.168.127.246
        }
        parameters {
            router-id 10.0.54.65
        }
        redistribute {
            connected {
            }
            static {
            }
        }
    }
    ospf {
        area 0.0.0.0 {
            network 10.0.54.72/30
            network 10.0.54.80/30
            network 10.2.0.0/16
            network 192.168.127.244/30
        }
        default-information {
            originate {
                always
                metric-type 2
            }
        }
        parameters {
            abr-type cisco
            router-id 10.0.54.65
        }
        redistribute {
            bgp {
                metric-type 2
            }
            connected {
                metric-type 2
            }
            static {
                metric-type 2
            }
        }
    }
    static {
        route 10.0.54.0/24 {
            blackhole {
            }
        }
        route 10.2.0.0/16 {
            next-hop 10.2.0.2 {
                distance 1
            }
        }
    }
}
system {
    host-name R0
    login {
        user vyatta {
            authentication {
                encrypted-password $1$1WtdCQ3x$tEayWu2oe8dwau6SquaBe0
            }
            level admin
        }
    }
    ntp-server 0.vyatta.pool.ntp.org
    package {
        auto-sync 1
        repository supported {
            components main
            distribution stable
            password ""
            url http://packages.vyatta.com/vyatta-supported
            username ""
        }
    }
    syslog {
        global {
            facility all {
                level notice
            }
            facility protocols {
                level debug
            }
        }
    }
    time-zone GMT
}


/* Warning: Do not remove the following line. */
/* === vyatta-config-version: "dhcp-server@4:webgui@1:system@3:quagga@1:cluster@1:ipsec@2:dhcp-relay@1:vrrp@1:webproxy@1:nat@3:wanloadbalance@2:firewall@3" === */
/* Release version: VC6.0-2010.03.22 */
