interfaces {
    ethernet eth1 {
        address 192.168.2.78/30
        description "The link between IR and R0"
        duplex auto
        hw-id 00:aa:00:90:00:01
        ip {
        }
        smp_affinity auto
        speed auto
    }
    loopback lo {
        address 192.168.127.1/32
    }
}
protocols {
    static {
        route 0.0.0.0/0 {
            next-hop 192.168.2.77 {
                distance 1
            }
        }
    }
}
system {
    host-name IR
    login {
        user vyatta {
            authentication {
                encrypted-password $1$1WtdCQ3x$tEayWu2oe8dwau6SquaBe0
            }
            level admin
        }
    }
    ntp-server 0.vyatta.pool.ntp.org
    package {
        auto-sync 1
        repository supported {
            components main
            distribution stable
            password ""
            url http://packages.vyatta.com/vyatta-supported
            username ""
        }
    }
    syslog {
        global {
            facility all {
                level notice
            }
            facility protocols {
                level debug
            }
        }
    }
    time-zone GMT
}


/* Warning: Do not remove the following line. */
/* === vyatta-config-version: "dhcp-server@4:webgui@1:system@3:quagga@1:cluster@1:ipsec@2:dhcp-relay@1:vrrp@1:webproxy@1:nat@3:wanloadbalance@2:firewall@3" === */
/* Release version: VC6.0-2010.03.22 */
