interfaces {
    ethernet eth1 {
        address 10.0.54.73/30
        description "The link between R0 and R1"
        duplex auto
        hw-id 00:aa:00:20:00:01
        smp_affinity auto
        speed auto
    }
    ethernet eth2 {
        address 10.0.54.77/30
        description "The link between R0 and R2"
        duplex auto
        hw-id 00:aa:00:20:01:01
        smp_affinity auto
        speed auto
    }
    ethernet eth3 {
        address 10.2.0.1/16
        description "The link between R0 and HostPC"
        duplex auto
        hw-id 00:aa:00:20:aa:aa
        ip {
            enable-proxy-arp
        }
        smp_affinity auto
        speed auto
    }
    ethernet eth4 {
        address 192.168.2.77/30
        description "The link between R0 and IR"
        duplex auto
        hw-id 00:aa:00:20:02:01
        ip {
        }
        smp_affinity auto
        speed auto
    }
    loopback lo {
        address 10.0.54.65/32
    }
}
protocols {
    ospf {
        area 0.0.0.0 {
            network 10.0.54.72/30
            network 10.0.54.76/30
            network 10.2.0.0/16
            network 192.168.2.76/30
        }
        default-information {
            originate {
                metric-type 2
            }
        }
        parameters {
            abr-type cisco
            router-id 10.0.54.65
        }
        redistribute {
            connected {
                metric-type 2
            }
            static {
                metric-type 2
            }
        }
    }
    static {
        route 0.0.0.0/0 {
            next-hop 192.168.2.78 {
                distance 1
            }
        }
    }
}
system {
    host-name R0
    login {
        user vyatta {
            authentication {
                encrypted-password $1$1WtdCQ3x$tEayWu2oe8dwau6SquaBe0
            }
            level admin
        }
    }
    ntp-server 0.vyatta.pool.ntp.org
    package {
        auto-sync 1
        repository supported {
            components main
            distribution stable
            password ""
            url http://packages.vyatta.com/vyatta-supported
            username ""
        }
    }
    syslog {
        global {
            facility all {
                level notice
            }
            facility protocols {
                level debug
            }
        }
    }
    time-zone GMT
}


/* Warning: Do not remove the following line. */
/* === vyatta-config-version: "dhcp-server@4:webgui@1:system@3:quagga@1:cluster@1:ipsec@2:dhcp-relay@1:vrrp@1:webproxy@1:nat@3:wanloadbalance@2:firewall@3" === */
/* Release version: VC6.0-2010.03.22 */
