interfaces {
    ethernet eth1 {
        address 10.0.54.74/30
        description "The link between R1 and R0"
        duplex auto
        hw-id 00:aa:00:60:00:01
        smp_affinity auto
        speed auto
    }
    ethernet eth2 {
        address 10.0.54.81/30
        description "The link between R1 and R2"
        duplex auto
        hw-id 00:aa:00:60:01:01
        smp_affinity auto
        speed auto
    }
    loopback lo {
        address 10.0.54.66/32
    }
}
protocols {
    ospf {
        area 0.0.0.0 {
            network 10.0.54.72/30
            network 10.0.54.80/30
        }
        parameters {
            abr-type cisco
            router-id 10.0.54.66
        }
        redistribute {
            connected {
                metric-type 2
            }
        }
    }
}
system {
    host-name R1
    login {
        user vyatta {
            authentication {
                encrypted-password $1$1WtdCQ3x$tEayWu2oe8dwau6SquaBe0
            }
            level admin
        }
    }
    ntp-server 0.vyatta.pool.ntp.org
    package {
        auto-sync 1
        repository supported {
            components main
            distribution stable
            password ""
            url http://packages.vyatta.com/vyatta-supported
            username ""
        }
    }
    syslog {
        global {
            facility all {
                level notice
            }
            facility protocols {
                level debug
            }
        }
    }
    time-zone GMT
}


/* Warning: Do not remove the following line. */
/* === vyatta-config-version: "dhcp-server@4:webgui@1:system@3:quagga@1:cluster@1:ipsec@2:dhcp-relay@1:vrrp@1:webproxy@1:nat@3:wanloadbalance@2:firewall@3" === */
/* Release version: VC6.0-2010.03.22 */
